.menu-area {
/*background: #d61a5e*/
}
.dropdown-menu {
	padding:0;
	margin:0;
	border:0 solid transition!important;
	border:0 solid rgba(0,0,0,.15);
	border-radius:0;
	-webkit-box-shadow:none!important;
	box-shadow:none!important;
	width:100%;
}
.mainmenu a, .navbar-default .navbar-nav > li > a, .mainmenu ul li a, .navbar-expand-lg .navbar-nav .nav-link {
	color:#fff;
	font-size:16px;
	text-transform:capitalize;
	padding:16px 15px;
	display: block !important;
	font-weight: 500;
}
.fixNav .navbar-nav > li > a {
	color: #fff;
}
.fixNav .dropdown.megamenu::before {
	color: #fff;
}
.mainmenu .navbar-nav > li > .btn {
	padding: 16px 14px;
}
.mainmenu .active a, .mainmenu .active a:focus, .mainmenu .active a:hover, .mainmenu li a:hover, .mainmenu li a:focus, .navbar-default .navbar-nav>.show>a, .navbar-default .navbar-nav>.show>a:focus, .navbar-default .navbar-nav>.show>a:hover {
	color: #fff;
	/*background: #4CAF50;*/
	outline: 0;
}
.mainmenu .dropdown.megamenu .btn-category {
	background: #333;
	padding: 16px 0 16px 25px;
	text-align:left;
	background: #33333357;
}
/*==========Sub Menu=v==========*/
.mainmenu .collapse ul > li:hover > a {
/*background: #4CAF50;*/
}
.mainmenu .collapse ul ul > li:hover > a, .navbar-default .navbar-nav .show .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .show .dropdown-menu > li > a:hover {
	/*background: #4CAF50;*/
/*	background-color: rgb(29, 92, 164);*/
background-color: rgba(84, 94, 102, 0.4);
}
.mainmenu .collapse ul ul ul > li:hover > a {
/*background: #4CAF50;*/
}
.mainmenu .collapse ul ul, .mainmenu .collapse ul ul.dropdown-menu {
	/*background: #3D464D;*/
	background: #353C42;
}
.mainmenu .collapse ul ul ul, .mainmenu .collapse ul ul ul.dropdown-menu {
/*background-color: #fff;*/
}
.mainmenu .collapse ul ul ul ul, .mainmenu .collapse ul ul ul ul.dropdown-menu {
	background:#64B5F6
}

.mainmenu .collapse ul ul ul.dropdown-menu i{
	padding-right: 5px;
}



/******************************Drop-down menu work on hover**********************************/
.mainmenu {
	background: none;
	border: 0 solid;
	margin: 0;
	padding: 0;
	min-height:20px;
	width: 100%;
}
.mainmenu li .btn i {
	color: #fff;
}
.mainmenu li .btn span {
	position: absolute;
	top: 0;
	background: #fff;
	color: #111;
	font-size: 12px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	border-radius: 50%;
	z-index: 1;
	font-weight: 400;
	right: 1px;
}
.navbar-light .navbar-toggler {
	position: relative;
	width: 100%;
	border:none;
}
.navbar-light .navbar-toggler:focus {
	opacity:1;
}
.navbar-light .navbar-toggler span {
}
.navbar-light .navbar-toggler-icon {
	background-image:none;
}
.navbar-light .navbar-toggler-icon:after {
	font-family: 'Font Awesome 6 Free';
	font-weight: 700;
	content: "\f0c9";
	position: absolute;
	right: 0;
	top: 8px;
	color: #fff;
}









 @media only screen and (min-width: 768px) {
.mainmenu .collapse ul li:hover> ul {
	display:block
}
.mainmenu .collapse ul ul {
	position:absolute;
	top:100%;
	left:0;
	min-width:250px;
	display:none
}
.mainmenu .collapse ul ul.side-navbar {
	position: static;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.mainmenu .collapse ul li > ul.side-navbar {
	display: flex;
	flex-wrap: wrap;
}
/*******/
.mainmenu .collapse ul ul li {
	position:relative
}
.mainmenu .collapse ul ul li:hover> ul {
	display:block
}
.mainmenu .collapse ul ul ul {
	position:absolute;
	top:0;
	left:100%;
	min-width:250px;
	display:none
}
/*******/
.mainmenu .collapse ul ul ul li {
	position:relative
}
.mainmenu .collapse ul ul ul li:hover ul {
	display:block
}
.mainmenu .collapse ul ul ul ul {
	position:absolute;
	top:0;
	left:-100%;
	min-width:250px;
	display:none;
	z-index:1
}
}
 @media only screen and (min-width: 992px) {
.mainmenu .collapse ul ul.side-navbar ul.dropdown-menu {
	position: absolute;
	left: 0;
	top:100%;
}
}
 @media only screen and (max-width: 991px) {
.mainmenu .collapse ul ul {
	position:static !important;
}
.mainmenu .collapse ul li:hover > ul {
	display:none;
}
.mainmenu .collapse ul ul li:hover > ul {
	display: none;
}
.dropdown.megamenu {
	position:relative;
}
.mainmenu .collapse ul li > ul.side-navbar li.item {
	flex: 0 0 25%;
	max-width: 25%;
}
.mainmenu .collapse ul li > ul.side-navbar {
	display: flex;
	flex-wrap: wrap;
}
.mainmenu .collapse ul ul li:hover > ul.login-dropdown {
	display:block;
	position: absolute !important;
	top: 100%;
	left: 0;
}
.menu-area {
	max-height: 400px;
	overflow-y: scroll;
}
.menu-area #navbarSupportedContent {
	background: #3333337a;/*padding: 1rem;*/
}
}
 
 
 @media only screen and (max-width: 767px) {
.navbar-nav .show .dropdown-menu .dropdown-menu > li > a {
	padding:16px 15px 16px 35px
}
.navbar-nav .show .dropdown-menu .dropdown-menu .dropdown-menu > li > a {
	padding:16px 15px 16px 45px
}
}



 @media only screen and (max-width: 480px) {
	 .mainmenu .collapse ul li > ul.side-navbar{
		 display:block;
	 }
	 
	 .mainmenu .collapse ul li > ul.side-navbar li.item{
		  max-width: 100%;
	  }
	 
 }